reated by https://www.gitignore.io/api/code-java

### Code-Java ###
# Language Support for Java(TM) by Red Hat extension for Visual Studio Code - https://marketplace.visualstudio.com/items?itemName=redhat.java

.project
.classpath
*.class
settings.gradle
test-output
build
.settings

# End of https://www.gitignore.io/api/code-java
